/* custom.css */

code {
    color: black;
}

body {
    font-family: inherit;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

article header h1, h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 2px;
}

article header h2 a {
  color: #2b2b2b;
}

article header {
    color: #2b2b2b;
    margin-bottom: 16px;
}

article header p {
  margin: 0 0 4px 0;

}

article header a {
    color: #111;
}

article header p {
    text-transform: uppercase;
    color: #777;
}

article {
    margin-bottom: 2em;
    padding-top: 2em;
}