<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ author }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="{{ canonical_url }}" />
    {% if rel_next %}
    <link rel="next" href="{{ rel_next }}" />
    {% endif %}
    {% if rel_prev %}
    <link rel="prev" href="{{ rel_prev }}" />
    {% endif %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/pygments.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/scribble.css"
    />
    <!-- Feeds -->
    <link
      rel="alternate"
      type="application/atom+xml"
      href="{{ atom_feed_url }}"
      title="Atom Feed"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ rss_feed_url }}"
      title="RSS Feed"
    />
  </head>
  <body>
    <nav
      class="flex items-center justify-between flex-wrap bg-gray-800 py-1 px-4 md:px-8"
    >
      <div class="flex items-center flex-shrink-0 text-gray-400 mr-4">
        <div class="pr-2">
          <a href="/"
            ><img
              src="/img/wlach_icon.png"
              width="46"
              height="46"
              class="p rounded"
          /></a>
        </div>
        <div class="p-1 -mt-1">
          <a
            href="/"
            class="text-gray-200 font-semibold text-xl md:text-2xl tracking-tight hover:text-white leading-tight"
            >wlach log</a
          >
        </div>
      </div>
      <div class="flex-grow lg:flex lg:items-center">
        <div class="text-base lg:flex-grow">
          {% for page in page_links %}
          <a
            href="{{ page.url }}"
            class="mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4 {% if active_nav == page.slug %}text-white{% else %}text-gray-600{% endif %}"
          >
            {{ page.title }}</a>
          {% endfor %}
          <a
            class="mt-4 lg:inline-block lg:mt-0 text-gray-600 hover:text-white mr-4"
            href="{{ atom_feed_url }}"
            >Atom</a
          >
          <a
            class="mt-4 lg:inline-block lg:mt-0 text-gray-600 hover:text-white mr-4"
            href="{{ rss_feed_url }}"
            >RSS</a
          >
        </div>
      </div>
    </nav>
    <div id="content" class="container max-w-screen-md px-4 md:px-8 py-4 mx-auto">
      {% if tag %}
      <p class="less-important">Showing posts tagged <em>{{ tag }}</em></p>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <footer class="container max-w-screen-md px-4 md:px-8 py-4 mx-auto less-important">
      <p>Questions or comments? Feel free to send an email to wlach on protonmail.com,
        or tag <a rel="me" href="https://mastodon.social/@wlach">@wlach@mastodon.social</a>
      </p>
      <p>
        Post content is dedicated to the public domain via the
        <a rel="license" href="https://unlicense.org/">Unlicense</a>
      </p>
      {% if source_url %}
      <p><a href="{{ source_url }}">Source on GitHub</a></p>
      {% endif %}
    </footer>
  </body>
</html>
